---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Login from "../../components/bakeoff/Login.svelte";
import ProjectList from "../../components/bakeoff/ProjectList.svelte";
---

<BaseLayout title="Project Bakeoff Reporting">
  <h2>Project Bakeoff Reporting</h2>
  <Login client:load>
    <!-- @ts-expect-error -->
    <ProjectList client:load />
  </Login>
</BaseLayout>
