---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewProject from "../../components/bakeoff/NewProject.svelte";
import Login from "../../components/bakeoff/Login.svelte";
---

<BaseLayout>
  <h2>Project Bakeoff Reporting</h2>
  <Login client:load>
    <NewProject />
  </Login>
</BaseLayout>
