---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Login from "../../components/bakeoff/Login.svelte";
import TeamDetails from "../../components/peer-review/TeamDetails.svelte";
---

<BaseLayout>
  <h2>Peer Review Reporting</h2>
  <Login client:load>
    <TeamDetails client:only />
  </Login>
</BaseLayout>
